.footer{
    width: 100%;
    height: auto;
    background-color: rgb(104, 104, 199);
    color: white;
    font-style: italic;
    margin-top: 3%;
}
.about{
    margin-top: 5px;
}
.mb-45{
    margin-bottom: 45px;
}
.mr-55{
    margin-right: 55px;
}
.mt{
    margin-top: 15px;
}