.title-image{
    margin-top: 35px;
}
.post-image{
    width: 255px;
    height: 155px;
    
    background-position: center center;
}
.post-title{
    margin-top: 95px;
    color: rgba(0, 0, 0, 0.654);
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.post-description{
    color: rgba(0, 0, 0, 0.761);
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}