<app-header></app-header>


<div fxLayout="row wrap" fxLayoutAlign = "space around" style="margin-left: 15px;">
    <div class="title-image">
        <img src="../../../assets/{{postById.image}}" class="post-image">
    </div>
    &nbsp;
    &nbsp;
    <div class="post-title">
        {{postById.title}}
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center">

    <div>
        <br>
        <br>
        <div class="post-description">
            {{postById.description}}
        </div>
    </div>

</div>

<app-footer></app-footer>