.navbar {
    background-color: rgba(255, 255, 255, 0.906);
    box-shadow: 0 1px 35px rgb(0 0 0 / 10%);
    height: 80px;

}

.logo {
    color: rgba(0, 0, 0, 0.477);
    font-style: italic;
}

.logo h3 {
    padding: 20px;
}
