<app-employee-count [all]="getAllEmployees()" [male]="getMaleEmployees()"
    [female] = "getFemaleEmployees()"
    (radioButtonValueChange) = "onEventRadioValueChange($event)"></app-employee-count>
<table>
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Gender</th>
            <th>Employee Salary</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let employee of employeeList">
            <tr *ngIf = "selectedEmployee == 'All' || selectedEmployee == employee.Gender">
                <td>{{employee.EmployeeId}}</td>
                <td>{{employee.Name | uppercase}}</td>
                <td>{{employee.Gender | lowercase}}</td>
                <td>{{employee.Salary}}</td>
            </tr>
        </ng-container>
        
    </tbody>
</table>