.latest {
    text-align: center;
    color: rgb(104, 104, 199);
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}

.card-row {
    margin-top: 3%;
}

.card-width {
    max-width: 280px;
}

.card-width:hover {
    cursor: pointer;
    box-shadow: 0 1px 40px gray;
}

.related_news{
    text-align: center;
    color: rgb(104, 104, 199);
    font-weight: bold;
    font-style: italic;
    margin-top: 18px;
}
