<app-header></app-header>

<div class="bg-image">
    <div class="subscription">
        <h3>Subscribe To Our NewsLetter !</h3>
        <input type="text" class="newsLetter_input" placeholder="   Your Email...">
        &nbsp;
        <button mat-raised-button color="warn">Subscribe</button>
    </div>
</div>

<h3 class="latest">Latest</h3>
<div fxLayout="row" class="card-row">
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
</div>

<h3 class="related_news">Related News</h3>
<div fxLayout="row" class="card-row">
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-width">
        <img mat-card-image src="../../../assets/mcg.jpg">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id culpa laboriosam odit eaque officia
                doloribus illo, quis ipsam itaque! Corrupti quis commodi laboriosam eos, vero praesentium debitis
                dolores sit eaque.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Read More...</button>
        </mat-card-actions>
    </mat-card>
</div>

<app-footer></app-footer>
